<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
    <parameter name="language" value="English"/>
    <parameter name="year" value="1990"/>
    <parameter name="gameName" value="Sleeping Dogs: Definitive Edition"/>
<!--    <test name = "Test On Firefox">-->
<!--        <parameter name="browser" value="firefox"/>-->
<!--        <classes>-->
<!--            <class name="steampowered.tests.BaseTest">-->
<!--            </class>-->
<!--        </classes>-->
<!--    </test>-->
    <test name = "Test On Chrome">
        <parameter name="browser" value="chrome"/>
              <classes>
            <class name="steampowered.tests.BaseTest">
            </class>
        </classes>
    </test>
</suite>